<div class="panel panel-default">
    <div class="panel-image">
        <a href="/fr/gladys-starter-pack" ><img class="img-responsive" src="/assets/images/landing/gladys-telegram-cover-1x.jpg" srcset="/assets/images/landing/gladys-telegram-cover.jpg 2x"  alt="Gladys starter pack"></a>
    </div>
    <div class="panel-body">
        <h4>Téléchargez le pack de démarrage Gladys !</h4>
        <p class="product-description">Soutenez le projet, et téléchargez un pack complet de vidéos + ebook pour apprendre à commencer avec Gladys !</p>
        <p class="product-description">A l'occasion de Noël, le Starter Pack est à prix cassé !</p>
    </div>
    <div class="panel-footer text-center">
        <a href="/fr/gladys-starter-pack"><button class="btn btn-success">Télécharger !</button></a>
    </div>
</div>