<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <a href="/fr/gladys-starter-pack" ><img class="img-responsive" src="/assets/images/landing/gladys-telegram-cover.jpg" alt="Gladys starter pack"></a>
            </div>
            <div class="col-md-8">
                <h3>Téléchargez le pack de démarrage Gladys !</h3>
                <p class="">Soutenez le projet, et téléchargez un pack complet de vidéos + ebook pour configurer Gladys chez vous !</p>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <a href="/fr/gladys-starter-pack"><button class="btn btn-success">Télécharger !</button></a>
    </div>
</div>