
/**
 * Site footer
 */
.site-footer .row {
  margin-left: 0px;
  margin-right: 0px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; 
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }



.values .icon{
  float: left;
}

.values i {
    font-size: 36px;
    line-height: 1;
}

.values .row {
  margin-top: 60px;
}

.values .title {
  margin-left: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.values .description {
  font-size: 14px;
  margin-left: 60px;
  line-height: 24px;
  margin-bottom: 0;
}

.values .box{
  margin-bottom: 30px;
}

.images-row {
  margin-bottom: 30px;
}

#homepage-community-large-img{
  width: 100%;
}


/**
HEADER WITH PICTURE

**/


.navbar-brand {
  padding-top: 10px;
}

.drawing {
  position: absolute;
  right: 0;
  z-index: -1;
}

.btn-install {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  background-color: #0052D4;
  color: white;
  cursor: pointer;
}

.btn-install:hover {
  color: white;
  background-color: #16193b;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin: 0;
}

.nav-link {
  color: black !important;
  font-size: 1rem;
}

.nav-link.active{
  width: 50%;
  background-color: #9CECFB;
  color: #0052D4 !important;
  border-radius: 25px;
}

.nav-item .nav-link.active{
  position: relative;
  left: 25%;
}

@media (min-width: 1600px) and (max-width: 2000px) {
  .section-header-drawing {
    min-height: 700px;
  }
}

@media (min-width: 2000px) {
  .section-header-drawing {
    min-height: 1200px;
  }
}

@media (min-width: 1200px) {
  
  .section-header-drawing {
    min-height: 690px;
  }

  .drawing {
      width: 60%;
      /*min-height: 100%; */
      top: 0;
  }

  .navbar {
      padding-left: 50px;
      padding-right: 50px
  }

  .logo img {
      width: 100px;
      height: 100px;
  }

  .container-right {
      width: 40%;
      padding: 70px;
  }

  .container-right h1 {
      font-size: 5rem;
      margin-top: 110px;
      padding-bottom: 20px;
  }

  .container-right h4 {
      font-size: 2rem;
      padding-bottom: 20px;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {


  .drawing {
    width: 60%;
    top: 0;
  }

  .container-right {
      width: 40%;
      padding: 70px;
  }

  .container-right h1 {
      font-size: 4rem;
      padding-bottom: 20px;
  }

  .container-right p {
      font-size: 1.5rem;
      padding-bottom: 20px;
  }

  .btn-install {
    margin-top: 10px;
  }

}

@media (max-width: 1000px) {

  .drawing {
      width: 100%;
      height: 30%;
      top: 80px;
      display: none;
  }

  .container-right {
      width: 100%;
      padding: 30px;
  }

  .container-right h1 {
      font-size: 5rem;
      margin-top: 60px;
      padding-bottom: 30px;
  }

  .container-right p {
      font-size: 1rem;
      padding-bottom: 10px;
  }

  .btn-install {
     margin-top: 20px;
  }

}

@media (max-width: 400px) {
  .container-right {
      width: 100%;
      padding: 30px;
  }
}
