
/**
 * Site footer
 */
.site-footer .row {
  margin-left: 0px;
  margin-right: 0px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; 
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }



.values .icon{
  float: left;
}

.values i {
    font-size: 36px;
    line-height: 1;
}

.values .row {
  margin-top: 60px;
}

.values .title {
  margin-left: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.values .description {
  font-size: 14px;
  margin-left: 60px;
  line-height: 24px;
  margin-bottom: 0;
}

.values .box{
  margin-bottom: 30px;
}

.images-row {
  margin-bottom: 30px;
}

#homepage-community-large-img{
  width: 100%;
}