---
title: Gladys Starter Pack
description: Commencez dans Gladys avec un kit complet clé en main ! Des vidéos détaillées haute qualitée + un ebook complet sur Gladys ! 
lang: fr
image: /assets/images/landing/gladys-telegram-cover.jpg
permalink: /fr/gladys-starter-pack/
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/assets/css/landing/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
        <link href="/assets/css/landing/icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/assets/css/landing/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
       	<!-- <link href="/assets/css/landing/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>-->
        <link href="/assets/css/landing/theme-blue.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/assets/css/landing/custom.css" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>
		<link href="/assets/css/landing/font-opensans.css" rel="stylesheet" type="text/css">
		

		<meta name="description" content="{{ page.description }}">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@gladysproject">
		<meta name="twitter:title" content="{{ page.title }}">
		<meta name="twitter:description" content="{{ page.description }}">
		<meta name="twitter:image:src" content="{{ page.image | absolute_url }}">

		<meta property="og:title" content="{{ page.title }}"/>
		<meta property="og:image" content="{{ page.image | absolute_url }}"/>
		<meta property="og:description" content="{{ page.description }}"/>

		<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-touch-icon-57x57.png?v=gAv82vzwkJ">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon-60x60.png?v=gAv82vzwkJ">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-touch-icon-72x72.png?v=gAv82vzwkJ">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-touch-icon-76x76.png?v=gAv82vzwkJ">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-touch-icon-114x114.png?v=gAv82vzwkJ">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-touch-icon-120x120.png?v=gAv82vzwkJ">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-touch-icon-144x144.png?v=gAv82vzwkJ">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-touch-icon-152x152.png?v=gAv82vzwkJ">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon-180x180.png?v=gAv82vzwkJ">
		<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png?v=gAv82vzwkJ" sizes="32x32">
		<link rel="icon" type="image/png" href="/assets/images/favicon/android-chrome-192x192.png?v=gAv82vzwkJ" sizes="192x192">
		<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png?v=gAv82vzwkJ" sizes="96x96">
		<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png?v=gAv82vzwkJ" sizes="16x16">
		<link rel="manifest" href="/assets/images/favicon/manifest.json?v=gAv82vzwkJ">
		<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico?v=gAv82vzwkJ">
		<meta name="msapplication-TileColor" content="#9f00a7">
		<meta name="msapplication-TileImage" content="/assets/images/favicon/mstile-144x144.png?v=gAv82vzwkJ">
		<meta name="theme-color" content="#ffffff">
    </head>

    <body>

				
		<div class="nav-container">
				
		</div>
		
		<div class="main-container">
					
			<section class="header header-8">
				<div class="header-upper" style="padding-top: 50px">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<h2 class="text-white"><span>Installez votre assistant&nbsp;</span><strong>Gladys</strong></h2>
								<h5 class="text-white">Le pack officiel</h5>
							</div>
						</div>
					
						<!--<div class="row">
							<div class="col-sm-12 text-center">
								<img alt="iPad Screenshot" src="/assets/images/landing/ipad.png">
							</div>
						</div>-->
					</div>
				</div>
			
				<!--<div class="header-lower">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<h4>Build stylish landing pages in minutes</h4>
								<a class="btn" href="#">Take A Tour</a>
								<h6>or</h6>
								<a class="btn btn-filled" href="#purchase-template">Buy Launchkit</a>
							</div>
						</div>
					</div>
				</div>-->
			</section>
			
			<section class="features features-2">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
							<h4>Découvrez le pack vidéo Gladys clé en main pour commencer avec votre assistant intelligent !</h4>
							<p>De nombreuses vidéos expliquant pas à pas chaque facette de Gladys + un e-book</p>
						</div>
					</div>
				
					<div class="row">
						<div class="col-sm-4 text-center feature">
							<a href="#pricing" ><img alt="Feature Image" src="/assets/images/landing/comprendre-configurer-gladys-cover-1x.jpg" srcset="/assets/images/landing/comprendre-configurer-gladys-cover.jpg 2x"     /></a>
							<h5>Comprendre et configurer Gladys</h5>
							<p>
								Découvrez Gladys et apprennez à comprendre son fonctionnement interne !
							</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<a href="#pricing" ><img alt="Feature Image" src="/assets/images/landing/433mhz-cover-2-1x.jpg" srcset="/assets/images/landing/433mhz-cover-2.jpg 2x" /></a>
							<h5>Contrôler son logement</h5>
							<p>
								Gérez les périphériques de votre logement grâce à des prises télécommandées low-cost !
							</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<a href="#pricing" ><img alt="Feature Image" src="/assets/images/landing/detecter-mouvement-cover-1x.jpg" srcset="/assets/images/landing/detecter-mouvement-cover.jpg 2x"/></a>
							<h5>Détecter des mouvements</h5>
							<p>
								Déclenchez des scénarios à votre retour, ou lors d'une intrusion chez vous !
							</p>
						</div>
					</div>

					

					<div class="row">

						<div class="col-sm-4 text-center feature">
							<a href="#pricing" ><img alt="Feature Image" src="/assets/images/landing/weather-cover-1x.jpg" srcset="/assets/images/landing/weather-cover.jpg 2x" /></a>
							<h5>Récupérer la météo</h5>
							<p>
								"Gladys, quel temps fait-il dehors ?". Ici, nous verrons la configuration de la météo !
							</p>
						</div>


						<div class="col-sm-4 text-center feature">
							<a href="#pricing" ><img alt="Feature Image" src="/assets/images/landing/networkscanner-cover-1x.jpg" srcset="/assets/images/landing/networkscanner-cover.jpg 2x"/></a>
							<h5>La gestion de la présence</h5>
							<p>
								Gladys peut savoir quand vous êtes chez vous, ou quand vous ne l'êtes pas !
							</p>
						</div>


						<div class="col-sm-4 text-center feature">
							<a href="#pricing" ><img alt="Feature Image" src="/assets/images/landing/music-cover-1x.jpg" srcset="/assets/images/landing/music-cover.jpg 2x"/></a>
							<h5>Jouer sa musique</h5>
							<p>
								Un réveil en musique ? Une playlist qui se joue au retour à la maison ? Possible avec Gladys !
							</p>
						</div>
				
					</div>

					<div class="row">
						<div class="col-sm-4 text-center feature">
							<a href="#pricing" ><img alt="Feature Image" src="/assets/images/landing/scenario-cover-1x.jpg" srcset="/assets/images/landing/scenario-cover.jpg 2x"/></a>
							<h5>Créer des scénarios et des scripts</h5>
							<p>
								Apprenez à créer les scripts les plus fous de votre imagination dans Gladys !
							</p>
						</div>

						<div class="col-sm-4 text-center feature">
							<a href="#pricing" ><img alt="Feature Image" src="/assets/images/landing/faire-parler-gladys-cover-1x.jpg" srcset="/assets/images/landing/faire-parler-gladys-cover.jpg 2x"/></a>
							<h5>Faire parler Gladys</h5>
							<p>
								Un réveil au son de la voix de Gladys ? Voyons ici comment configurer la voix !
							</p>
						</div>
					
						<div class="col-sm-4 text-center feature">
							<a href="#pricing" ><img alt="Feature Image" src="/assets/images/landing/gladys-telegram-cover-1x.jpg" srcset="/assets/images/landing/gladys-telegram-cover.jpg 2x"/></a>
							<h5>Discuter avec Gladys par message</h5>
							<p>
								"Gladys, je pars de la maison !" => "La maison est en sécurité monsieur." 
							</p>
						</div>
					
						
					</div>
				</div>
			</section>

			<section class="testimonials testimonials-5">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-7 text-center col-sm-6">
							<img alt="Testimonials" src="/assets/images/landing/pierre-gilles-1x.jpg" srcset="/assets/images/landing/pierre-gilles.jpg 2x"/>
						</div>
					
						<div class="col-md-5 col-sm-6">
							<h4>Qui suis-je ?</h4>
							<div class="slider">
								<ul class="slides">
									<li>
										<p>
											Je m'appelle Pierre-Gilles Leymarie et j'ai fondé le projet Gladys il y a 4 ans! <br /><br />
											
											L'objectif était au début de construire mon assistant JARVIS pour chez moi. 
											Et puis au fil de mes posts sur internet, Gladys est finalement devenu un véritable software, disponible gratuitement en open-source ! 
											<br />
											<br />
											Aujourd'hui, vous êtes plus de 25 000 à avoir téléchargé Gladys, et le projet ne cesse de grandir. 
											Merci à tous ceux qui soutiennent le projet, et qui lui ont permis d'arriver jusque-là 🙂
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="pricing pricing-5" id="pricing">
				<div class="container">
					<div class="row v-align-children">
						<div class="col-md-4 text-center">
							<div class="pricing-option">
								<h6>Prix</h6>
								<div class="price-container">
									<span class="dollar">€</span>
									<span class="price">49</span>
									<span class="terms"></span>
								</div>
								<!--<h5>Offre de Noël limitée !</h5>
								<small>( 49€ normalement )</small> <br />-->
								
								<!--<a href="#" class="btn btn-filled">Précommander !</a>-->
								<script data-selz-t="_selz-btn-default" data-selz-b="http://selz.co/EJYsYcarQ" data-text="Acheter" data-selz-a="modal" data-selz-checkout="true" data-selz-cb="0785f2" data-selz-ct="ffffff" data-selz-chbg="0785f2" data-selz-chtx="ffffff">if (typeof _$elz === "undefined") { var _$elz = {}; } if (typeof _$elz.b === "undefined") { _$elz.b = { e: document.createElement("script") }; _$elz.b.e.src = "https://selz.com/embed/button"; document.body.appendChild(_$elz.b.e); }</script>
								<noscript><a href="http://selz.co/EJYsYcarQ" target="_blank">Acheter</a></noscript>
							</div>
						</div>
					
						<div class="col-md-8">
							<div class="feature">
								<i class="icon-computer-imac"></i>
								<div class="inner">
									<h6>Un pack Full HD qualité Réflex</h6>
									<p>
										Un pack entièrement tourné au réflex et enregistrement d'écran.
									</p>
								</div>
							</div>
						
							<div class="feature">
								<i class="icon-book-dowload-streamline"></i>
								<div class="inner">
									<h6>Ebook complet</h6>
									<p>
										Un ebook qui explique le matériel et les étapes step by step.
									</p>
								</div>
							</div>
						
							<div class="feature">
								<i class="icon-locker-streamline-unlock"></i>
								<div class="inner">
									<h6>Pas de DRM</h6>
									<p>
										Vidéos a regarder en streaming ou à télécharger en local sur sa machine !
									</p>
								</div>
							</div>
						
							<div class="feature">
								<i class="icon-happy-smiley-streamline"></i>
								<div class="inner">
									<h6>Satisfait ou remboursé</h6>
									<p>
										L'objectif de ce pack, c'est avant tout de vous rendre heureux :)
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="faq faq-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="faq">
								<h5>Quels sont les prérequis pour acheter ce pack ?</h5>
								<p>
									Tout commence avec un PC (Windows/Mac/Linux), et un Raspberry Pi. Il y a quelques composants à acheter dans certains tutoriels, mais rien de très cher, et tous les liens sont fournis. 
									L'objectif de ce pack est avant tout d'expliquer la configuration de Gladys, et de montrer plein de cas d'usages qui peuvent être adaptés ! 
								</p>
							</div>
					
							<div class="faq">
								<h5>Pourquoi acheter ce pack ?</h5>
								<p>
									Tu as envie d'installer Gladys, de comprendre son fonctionnement en détail, de mettre en place des scénarios simple, puis plus poussés ? 
									Ce pack est fait pour toi ! Que tu sois débutant, ou plus expérimenté, c'est l'occasion de mettre en place plein de scénarios sympa, et de soutenir le projet :)
								</p>
							</div>
					
							
						</div>
					
						<div class="col-sm-6">
							<div class="faq">
								<h5>Pourquoi ce pack est-il payant ?</h5>
								<p>
									Gladys est open-source, et le restera toujours ! 
									Néanmoins, tout ce qui gravite autour du projet (hébergement, matériel domotique, matériel vidéo, événéments physiques, etc...) a un coût non négligeable que je supporte personnellement depuis 4 ans. 
									Et c'est sans compter les heures passées sur ce pack, sur le développement de Gladys, sur le forum à répondre à vos questions.
									<br /><br />
									En achetant ce pack, vous supportez le projet, me permettez d'acheter du nouveau matériel, et aidez Gladys à aller encore plus loin 🚀
								</p>
							</div>

							<div class="faq">
								<h5>Que se passe-t-il si je n'y arrive pas ?</h5>
								<p>
									Pas de panique, en cas de soucis, il y a le forum Gladys ! De nombreux membres, et moi même, t'aideront jusqu'à ce que ça marche chez toi !
								</p>
							</div>

						</div>
					
					</div>
				
					<div class="row">
						<div class="col-sm-12 text-center">
							<h4>Des questions? Envoyez moi un tweet à <a target="_blank" href="https://twitter.com/gladysproject">@gladysproject</a> !</h4>
						</div>
					</div>
				</div>
			</section>
			<footer class="footer footer-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<!--<ul class="social-links">
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-youtube-alt"></i></a></li>
								<li><a href="#"><i class="icon-vimeo"></i></a></li>
							</ul>-->
						</div>
					
						<div class="col-sm-4 text-center">
							<p class="sub">
								© Copyright 2017 Gladys Project - All Rights Reserved
							</p>
						</div>
					
						<div class="col-sm-4 text-right">
							<!--<a href="#">
								<img alt="Logo" src="/assets/images/landing/logo-dark.png">
							</a>-->
						</div>	
					</div>
				</div>
			</footer>
		</div>
	</body>

	
	{% if jekyll.environment == "production" %}
		{% include google-analytics.html %}
		{% include hotjar.html %}
		{% include pixel.html %}
		{% include mailchimp.html %}
	{% endif %}
	
	<script>
		fbq('track', 'ViewContent');
	</script>

</html>

				