---
layout: default
---

<div class="container container-margin">
<div class="row">
    <div class="col-md-8">
        <div class="well well-sm">
            <p>{{site.data.i18n[page.lang].contact.sentence}}</p>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">{{site.data.i18n[page.lang].contact.name}}</label>
                        <input type="text" class="form-control" id="name" placeholder="{{site.data.i18n[page.lang].contact.namePlaceholder}}" required="required">
                    </div>
                    <div class="form-group">
                        <label for="email">{{site.data.i18n[page.lang].contact.email}}</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input type="email" class="form-control" id="email" placeholder="{{site.data.i18n[page.lang].contact.emailPlaceholder}}" required="required"></div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">{{site.data.i18n[page.lang].contact.message}}</label>
                        <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="{{site.data.i18n[page.lang].contact.messagePlaceholder}}"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-primary pull-right" id="btnContactUs">{{site.data.i18n[page.lang].contact.send}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <legend>{{site.data.i18n[page.lang].contact.legalMention.whoAmI}}</legend>
        <div class="row">
            <div class="col-md-4">
                <a href="https://twitter.com/pierregillesl">
<img style="margin-top:10px;" src="/assets/images/general/pp-1x.jpg" class="img-responsive"></a>
            </div>

            <div class="col-md-8">
                <a href="https://twitter.com/pierregillesl">
                    <h4>Pierre-Gilles Leymarie</h4>
                </a>
                {{site.data.i18n[page.lang].contact.legalMention.sentence}}
            </div>

        </div>
    </div>
</div>
</div>