<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body id="page-top">

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>

  <!-- jQuery -->
  <script src="/assets/js/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/assets/js/bootstrap.min.js"></script>

  {% if page.url == '/fr/' or page.url == '/en/' %}
    <script>
        !function(t){"use strict";t("a.page-scroll").bind("click",function(a){var o=t(this);t("html, body").stop().animate({scrollTop:t(o.attr("href")).offset().top-50},1250,"easeInOutExpo"),a.preventDefault()}),t("body").scrollspy({target:".navbar-fixed-top",offset:100}),t(".navbar-collapse ul li a").click(function(){t(".navbar-toggle:visible").click()}),t("#mainNav").affix({offset:{top:50}})}(jQuery);
    </script>
  {% endif %}

  {% if page.url == '/fr/contact/' or page.url == '/en/contact/' %}
      <link rel="stylesheet" href="/assets/css/sweetalert.css">
      <script src="/assets/js/sweetalert.min.js"></script>
      <script src="/assets/js/app.js"></script>
  {% endif %}
  
</html>