---
layout: default
---

<div class="homepage">
<header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Gladys, your home assistant</h1>
                            <h4>Gladys is an open-source program which runs on your Raspberry Pi. <br />
It communicates with all your devices and checks your calendar to help you in your everyday life.</h4>
                            <a href="/{{ page.lang }}/installation" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/assets/img/iphone-telegram-crop-2x.png" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--<section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Discover what all the buzz is about!</h2>
                    <p>Our app is available on any mobile device! Download now to get started!</p>
                    <div class="badges">
                        <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
                        <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>-->

    <section class="section-email-input" >
        <div class="container">
            <div class="col-md-8">
                <h3>Join the community, and receive news about the project !</h3>
            </div>
                
            <div class="col-md-4" >
               
               <div class="input-group input-group-lg email-input-group">
                  <input type="text" id="followGladysInput" class="form-control" placeholder="Email">
                  <input type="hidden" id="messageSubscribe" value="subscribe"/>
                  <span class="input-group-btn">
                    <button class="btn btn-primary" id="button-subscribe-email" type="button">Join</button>
                  </span>
                </div><!-- /input-group -->
               
            </div>
        </div>
    </section>



    <!-- TIMELINE -->

        
<div class="container">
    <div class="page-header">
        <h2 class="text-center">Une journée avec Gladys</h2>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="fa fa-clock-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Réveillez-vous en douceur</h4>
            </div>
            <div class="timeline-body">
              <p>Il est 8h, Gladys me réveille car elle sait qu'à 9H je dois aller travailler, et que je mets,
                                    selon mes préférences, 30 minutes pour me préparer, et que selon l'état actuel du trafic,
                                    je vais mettre 30 minutes en voiture pour aller au bureau. Elle a vu grâce à une API
                                    de météo qu'il pleut dehors, et en profite pour me le signaler au réveil.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="fa fa-rss"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Analyse des mouvements</h4>
            </div>
            <div class="timeline-body">
              <p>Il est 8h10, dès que je sors de mon lit, Gladys détecte un mouvement dans la pièce et coupe
                    le réveil, allume la lumière de la pièce, lance une playlist calme et ouvre les volets.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge success"><i class="fa fa-calendar-plus-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Des scénarios intelligents</h4>
            </div>
            <div class="timeline-body">
              <p>Il est 8h45, je sors de chez moi pour aller travailler, Gladys détecte que je ne suis plus
                                    là, elle coupe lumière et la musique. Cependant, après le boulot, je sors chez des amis,
                                    et reste dormir chez eux. Gladys sait que je ne suis pas rentré (pas de mouvement n'a
                                    été détecté), et désactive donc le réveil du lendemain, car pas besoin de sonner si je
                                    ne dors pas chez moi, et que mon appartement est vide.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge danger"><i class="fa fa-heart"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Toujours là pour vous</h4>
            </div>
            <div class="timeline-body">
              <p>Il est 19h, je rentres du bureau, Gladys allume la lumière, me souhaite la bienvenue, et
                                    me notifie les messages que j'ai reçu en mon absence.</p>
            </div>
          </div>
        </li>
    </ul>
</div>

<!-- TIMELINE -->

    <div class="container">
            <div class="page-header">
                <h2 class="text-center">Matériel compatible</h2>
            </div>
				
					<div class="row">
						<div class="col-sm-3 text-center feature">
							<img alt="Feature Image" class="img-responsive" src="/assets/images/products/raspberry-pi.jpg">
							<h5>Raspberry Pi</h5>
							<p>
								Gladys tourne sur Raspberry Pi, c'est la base du système.
							</p>
						</div>
					
						<div class="col-sm-3 text-center feature">
							<img alt="Feature Image"  class="img-responsive" src="/assets/images/products/rf-plug-phenix.jpg">
							<h5>Prises télécommandées</h5>
							<p>
								Gladys gère mes appareils électriques
							</p>
						</div>
					
						<div class="col-sm-3 text-center feature">
							<img alt="Feature Image"  class="img-responsive" src="/assets/images/products/philips-hue.jpg">
							<h5>Ampoules connectées</h5>
							<p>
								Gladys contrôle toutes mes lumières, pour un réveil coloré !
							</p>
                        </div>
                        
                        <div class="col-sm-3 text-center feature">
							<img alt="Feature Image"  class="img-responsive" src="/assets/images/products/sonos-play-1.jpg">
							<h5>Musique</h5>
							<p>
								Gladys gère ma musique, pour une journée en douceur 
							</p>
						</div>
                    </div>
                    

    </div>

    {% if page.lang == 'fr' %}
        <div class="container">
                <div class="page-header">
                    <h2 class="text-center">Kit de démarrage</h2>
                </div>

                {% include starter-pack-panel-large.html %}

        </div>

    {% endif %}


</div>